/.idea
/.vscode
/runtime
./dist
/public/log
*.log
.env
composer.json
/public/nginx.htaccess
public/upload/
/vendor/composer
/vendor/autoload.php
/vendor/services.php
/vendor
/public/index.php
think
.env*2
/public/export/*

